<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<header class="app-header" th:fragment="header">
    <a class="app-header__logo" href="" target="_blank">Ecommerce</a>

    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li>
                    <a class="dropdown-item" href=""  onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        <i class="fa fa-sign-out fa-lg"></i> Se déconnecter
                        <form id="logout-form" action="" method="POST" class="d-none">

                        </form>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>
</body>

