<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<th:block th:fragment="sidebar">
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <i class=" app-sidebar__user-avatar fas fa-user fa-2x"></i>
            <div>
                <p class="app-sidebar__user-name">Admin </p>
                <p class="app-sidebar__user-designation">Administrateur</p>
            </div>
        </div>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item" th:href="@{/admin}" >
                    <i class="app-menu__icon fas fa-tachometer-alt"></i>
                    <span class="app-menu__label">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="">
                    <i class="app-menu__icon far fa-chart-bar"></i>
                    <span class="app-menu__label">Commandes</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" th:href="@{/admin/users}">
                    <i class="app-menu__icon fas fa-users"></i>
                    <span class="app-menu__label">Utilisateurs</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" th:href="@{/admin/categories}">
                    <i class="app-menu__icon fas fa-tags"></i>
                    <span class="app-menu__label">Catégories</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item" th:href="@{/admin/products}">
                    <i class="app-menu__icon fas fa-shopping-bag"></i>
                    <span class="app-menu__label">Articles</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="">
                    <i class="app-menu__icon fas fa-comment"></i>
                    <span class="app-menu__label">Messages</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item" href="">
                    <i class="app-menu__icon fas fa-tags"></i>
                    <span class="app-menu__label">Coupons</span>
                </a>
            </li>

        </ul>
    </aside>
</th:block>
</body>



<style>
    .app-sidebar__user-avatar{
        color: grey;
    }
    /* img{
         width: 60px;
         height: 60px;
         object-fit: cover;
     }*/
</style>