<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layouts/app"
      lang="fr">
<body>
<th:block layout:fragment="content">
    <div class="app-title">
        <div>
            <h1><i class="fas fa-shopping-bag"></i> Articles</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="tile">
                <h3 class="tile-title">Ajouter un article</h3>
                <div class="tile-body">
                    <form th:action="@{/admin/products/update}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" th:value="${product.getId()}">
                        <div class="form-group">
                            <label class="control-label">Nom<span class="m-l-5 text-danger"> *</span></label>
                            <input class="form-control"
                                   type="text"
                                   name="name"
                                   placeholder="Enter le nom de l'article"
                                   th:value="${product.getName()}"
                            >
                        </div>

                        <div class="form-group">
                            <label class="control-label">SKU</label>
                            <input class="form-control"
                                   type="text"
                                   name="sku"
                                   placeholder="Enter un sku"
                                   th:value="${product.getSku()}"
                            >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea
                                    class="form-control"
                                    rows="5"
                                    name="description"
                                    placeholder="Entrer une description de l'article"
                                    th:text="${product.getDescription()}"
                            ></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Images</label>
                            <input class="form-control"
                                   type="file"
                                   name="files"
                                   multiple>
                        </div>

                        <hr>
                        <div class="row mb-1">

                            <div  th:each="media : ${product.getMedia()}"  class="col-md-3" >
                                <div class="card">
                                    <div class="card-body">
                                        <img th:src="@{'/uploads/products/'+${media.getPath()}}" id="brandLogo" class="img-fluid" alt="img">
                                        <a class="card-link float-right text-danger" href="">
                                            <i class="fa fa-fw fa-lg fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Catégories</label>
                                    <select class="form-control" name="categories" id="demoSelect" multiple="">
                                        <optgroup label="Sélectionner les catégories">
                                            <option th:each="cat :${categories}" th:value="${cat.getId()}"
                                                    th:selected="${product.getCategories().contains(cat)}"
                                                    th:text="${cat.getName()}"></option>
                                        </optgroup>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Prix<span class="m-l-5 text-danger"> *</span></label>
                            <div class="input-group">
                                <input class="form-control"
                                       type="number"
                                       name="price"
                                       step="0.01"
                                       min="1"
                                       placeholder="Enter le prix de l'article"
                                       th:value="${product.getPrice()}"
                                >
                                <div class="input-group-append"><span class="input-group-text"></span></div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label">Quantité<span class="m-l-5 text-danger"> *</span></label>
                            <input class="form-control"
                                   type="number"
                                   name="quantity"
                                   placeholder="Enter la quantité disponible en stock"
                                   th:value="${product.getQuantity()}"
                            >

                        </div>
                        <div class="form-group">
                            <div class="toggle lg">
                                <label> Afficher dans la boutique
                                    <input type="checkbox"
                                           name="active"
                                           th:checked="${product.isActive()}"


                                    >
                                    <span class="button-indecator"></span>
                                </label>
                            </div>

                        </div>
                        <div class="tile-footer">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Enregistrer
                            </button>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-secondary" href=""><i
                                    class="fa fa-fw fa-lg fa-times-circle"></i>Annuler</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>

</th:block>

<th:block layout:fragment="extra-script">
    <script type="text/javascript" th:src=" @{/admin/js/plugins/select2.min.js} "></script>

    <script type="text/javascript">
        $('#demoSelect').select2();
    </script>
</th:block>

</body>
</html>