<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layouts/app"
      lang="fr">
<body>
<th:block layout:fragment="content">
    <div class="app-title">
        <div>
            <h1><i class="fas fa-shopping-bag"></i> Articles</h1>
            <p>Liste de tous les articles</p>
        </div>


        <a th:href="@{/admin/products/create}" class="btn btn-primary pull-right">Ajouter un article</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <div class="tile-body">

                    <div class="table-responsive">

                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>SKU</th>
                                <th>Nom</th>
                                <th class="text-center"> Catégories</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th class="text-center">Status</th>
                                <th style="width:100px; min-width:100px;" class="text-center text-danger"><i
                                        class="fa fa-bolt"> </i></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="product : ${products}">
                                <td th:text="${product.getId()}"></td>
                                <td th:text="${product.getSku()}"></td>
                                <td th:text="${product.getName()}"></td>
                                <td class="text-center">

                                    <th:block th:each="category : ${product.getCategories()}">
                                    <span th:text="${category.getName()}" class="badge badge-info"></span>
                                    </th:block>

                                </td>
                                <td th:text="${product.getPrice()}"></td>
                                <td th:text="${product.getQuantity()}"></td>


                                <td class="text-center">

                                    <span th:text="${product.isActive()? 'actif':'inactif'}" th:class="${product.isActive()? 'badge badge-info':'badge badge-danger'}"></span>

                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group" aria-label="Second group">
                                        <a th:href="@{'/admin/products/'+${product.getId()}+'/edit'}"
                                           class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                        <a th:href="@{'/admin/products/'+${product.getId()}+'/delete'}"
                                           onclick="return confirm('Voulez vous vraiment supprimer cet enregistrement ?')"
                                           class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="extra-script">
    <script type="text/javascript" th:src=" @{/admin/js/plugins/jquery.dataTables.min.js} "></script>
    <script type="text/javascript" th:src=" @{/admin/js/plugins/dataTables.bootstrap.min.js} "></script>
    <script type="text/javascript" th:src=" @{/admin/js/plugins/sweetalert.min.js} "></script>

    <script type="text/javascript">
        $('#sampleTable').DataTable({
            language: {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });
    </script>
</th:block>

</body>
</html>